html,body {
		padding: 0px;
		margin: 0px;
	}
	html, body {
		width: 100%;
		height: 100%;
	}
	html {
		overflow-x: hidden;
	}
	body {
		background-color: #f5f5f5;
	}
	.edit-box {
		width: 100%;
		background-color: #FFF;
		margin-top: 0.2rem;
	}
	input {
		border: none;
		color: #bab8b8;
		width: 2rem;
	}
	/*每个修改点*/
	.each-edit-box {
		width: 90%;
		margin: 0 auto;
		height: 1.1rem;
		border-bottom: 0.03rem dashed #f0f0f0;
		position: relative;
	}
	.each-edit-title-box {
		width: 100%;
		height: 100%;
		font-size: 0.3rem;
		line-height: 1.1rem;
		font-weight: 900;
	}
	.phone {
		position: absolute;
		font-size: 0.3rem;
		left: 1.1rem;
		top: 0.35rem;
	}
	.input-value {
		position: absolute;
		left: 1.1rem;
		top: 0.35rem;
	}
	.captcha-btn {
		display: inline-block;
		height: 0.6rem;
		width: 1.8rem;
		line-height: 0.6rem;
		text-align: center;
		border: 0.03rem solid #f9626d;
		color: #f9626d;
		font-size: 0.3rem;
		position: absolute;
		top: 0.2rem;
		right: 0.15rem;
		border-radius: 0.08rem;
	}
	.rest-div {
		width: 100%;
		height: 0.5rem;
	}
	.certain-btn {
		width: 90%;
		height: 0.8rem;
		margin: 0.2rem auto 0px auto;
		color: #FFF;
		border-radius: 0.08rem;
		line-height: 0.8rem;
		text-align: center;
		background-color: #f7d343;
		font-size: 0.3rem;
	}
	input {
		line-height: 1.1;
	}
	input::-webkit-input-placeholder { font-weight: 900 }
	input::-moz-placeholder { font-weight: 900 } /* firefox 19+ */
	input:-ms-input-placeholder { font-weight: 900 } /* ie */